body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2021/06/02/18/04/abc-6305112_1280.jpg);
    background-size: contain;
}

header {
    display: flex;
}

h1 {
    text-align: center;
    flex: 1;
    color: #FFFFFF;
    font-size: 1em;
}
.container {
    display: flex;
    justify-content: center;
    height: 675px;
    width: 300px;
    flex-direction: column;
    border: 5px solid #034d8a;
    border-radius: 14px;
    background-color: #3363c5;
    box-shadow: 2px 2px #3363c5;
}

.calcDisplay {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    background-color: #D3D3D3;
    border: 5px solid #585858;
    text-align: right;
    padding-right: 10px;
    height: 75px;
    border-radius: 2px;
    box-shadow: 1px 1px #000000;
}

button {
    text-decoration: none;
    width: 100%;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
    color: #417df6;
    box-shadow: 1px 1px #999;
    font-weight: bold;
}

.calcButtons {
    display: grid;
    gap: 1;
    align-items: center;
    justify-content: center;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.bottom {
    display: grid; 
    justify-self: stretch;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 15px 15px; 
    grid-template-areas: 
      ". . . ."
      ". . . ."
      ". . . ."; 
}



.operator, .equal {
    background-color: #FF0000;
    color: #FFFFFF;
}

.numbers, .decimal {
    background-color: #FFFFFF;
}

button:hover {
    background-color: #3a75ee;
}

button:active {
    background-color: #3a75ee;
    box-shadow: 0 3px #666;
}

footer {
    display: flex;
    flex-direction: row;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 0.875em;
}